
i.fa.fa-arrow-up{
    position: fixed;
    bottom: 20px;
    right: 25px;
    background-color: #31c500e4;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    
}
.logo{
    display: flex;
}
.logo img{
    width: 50px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
}
.contact{
    position: relative;
    width: 100%;
    height: auto;
    background-image: url(images/w.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
 section  h1{
    color: #fff;
}
h2{
    text-align: center;
}
.contact-box-section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;   

}

.map-section{
    width: 55%;
    height: auto;
    padding-top: 20px;
    box-sizing: border-box;
    border-radius: 50px;
}
.map-section h2{
    color: grey;
    font-weight: 600;
    margin-bottom: -100px;
    position: relative;
}
.form-section{
    width: 45%;
    padding: 40px;
    margin: 40px;
    background: #5f9836;
    color: #fff;
    box-sizing: border-box;
    border-radius: 20px;
    opacity: .8;
}
.form-section form{
    width: 80%;
    margin-left: 10%;
    padding: 10px;
    text-align: start;
}

.form-section .form-text{
    color: #fff;
}
.form-section form .btn{
    text-align: center;
    justify-content: center;
}



/*-------------------------*/

/*----------------------------*/